<div class="container-fluid">
  <div class="row">
    <div class="column col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>BlockClock.info</strong> is a multi-coin block explorer designed to return time-specific information on BTC, BCH, and BTG blocks and transactions. This service is made possible by the <a href="https://blockchair.com/" target="_blank">Blockchair API</a> and the <a href="https://explorer.bitcoingold.org/insight/" target="_blank">Bitcoin Gold Insight</a> API. The source code is available on <a href="#" target="_blank">Github.</a></p>
        <center>
          <p><h5>Donate</h5></p>
          <p>BTC: 1Nf8bGuAxVdxVtUrZDPXFtZ2H6dbipJd1g</p>
          <p>BCH: qq2ed596krt0lfmpf2uk76akk88dsu0utcv9jcavql</p>
          <p>BTG: GLTbuRozFfEkMa5NyNMBcKzUeqkmLb9YUj</p>
	    </center>
	    </div>
      </div>
    </div>
  </div>
</div>