<head>
  <meta charset="utf-8">
  <title>Blockclock.info</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
</head>
